<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pxl</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>apng</string>
				<string>avif</string>
				<string>avifs</string>
				<string>blp</string>
				<string>bmp</string>
				<string>bufr</string>
				<string>bw</string>
				<string>cur</string>
				<string>dcx</string>
				<string>dds</string>
				<string>dib</string>
				<string>emf</string>
				<string>eps</string>
				<string>fit</string>
				<string>fits</string>
				<string>flc</string>
				<string>fli</string>
				<string>fpx</string>
				<string>ftc</string>
				<string>ftu</string>
				<string>gbr</string>
				<string>gd</string>
				<string>gd2</string>
				<string>gif</string>
				<string>grib</string>
				<string>h5</string>
				<string>hdf</string>
				<string>icb</string>
				<string>icns</string>
				<string>ico</string>
				<string>iim</string>
				<string>im</string>
				<string>imt</string>
				<string>j2c</string>
				<string>j2k</string>
				<string>jfif</string>
				<string>jpe</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jpc</string>
				<string>jpf</string>
				<string>jp2</string>
				<string>jpx</string>
				<string>mic</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpo</string>
				<string>msp</string>
				<string>pbm</string>
				<string>pcd</string>
				<string>pcx</string>
				<string>pgm</string>
				<string>png</string>
				<string>pnm</string>
				<string>ppm</string>
				<string>ps</string>
				<string>psd</string>
				<string>pxr</string>
				<string>qoi</string>
				<string>ras</string>
				<string>rgb</string>
				<string>rgba</string>
				<string>sgi</string>
				<string>spi</string>
				<string>tga</string>
				<string>tif</string>
				<string>tiff</string>
				<string>vda</string>
				<string>vst</string>
				<string>wal</string>
				<string>webp</string>
				<string>wmf</string>
				<string>xbm</string>
				<string>xpm</string>
				<string>xv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleTypeName</key>
			<string>Pillow-readable images</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Pxl</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.shuic.pxl</string>
	<key>CFBundleName</key>
	<string>Pxl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
